---
import BusinessHours from "../components/BusinessHours";
import Layout from "../layouts/Layout.astro";
---

<Layout title="About Us">
    <h1 class="flex justify-center text-base-100 text-4xl">Business Hours & Holidays</h1>
    <BusinessHours />
</Layout>
