---
import Documentation from "../components/Documentation";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Documentation">
    <h1 class="flex justify-center text-base-100 text-4xl">Documentation</h1>
    <Documentation />
</Layout>