---
import Layout from '../layouts/Layout.astro';
import Main from '../components/Main'
---

<Layout title="MHPCC">
	<main>
		<h1 class="flex justify-center text-[50px] text-lemon">Welcome to the Maui High Performance Computing Center</h1>
		<Main />
	</main>
</Layout>

<style>
	
</style>
