---
import Layout from '../layouts/Layout.astro';
import Main from '../components/Main'
---

<Layout title="MHPCC">
	<main class="p-4">
		<div class="flex items-center justify-center h-96 bg-fixed bg-prllx2 bg-cover">
			<h1 class="flex justify-center text-3xl md:text-[50px] text-primary mt-16 mb-16">Welcome to the Maui High Performance Computing Center</h1>
		</div>
		<Main/>
	</main>
</Layout>

<style>
</style>
