---
import Main from '../components/Main'
import MainLayout from '../layouts/MainLayout.astro'
---

<MainLayout title="MHPCC">
	<div class="flex flex-col items-center justify-center h-screen w-full bg-fixed bg-prllx2 bg-cover">
		<div class="flex items-center justify-center glass">
			<h1 class="flex px-8 text-2xl font-bold md:text-[50px] text-base-100 my-16">Maui High Performance Computing Center</h1>
		</div>
	</div>
	<Main/>
</MainLayout>