---
import Main from "../components/Main";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Quick Links">
	<h1 class="flex justify-center text-4xl">Quick Links</h1>
</Layout>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resources</title>
</head>
<body>
    <main>
        <section class="category">
            <h2>Local Resources</h2>
            <ul>
                <li><a href="https://www.bbc.com" target="_blank">Hardware</li>
                <li><a href="https://www.cnn.com" target="_blank">Software</li>
            </ul>
        </section>

        <section class="category">
            <h2>User Guides</h2>
            <ul>
                <li><a href="https://www.khanacademy.org" target="_blank">Modules User Guide</li>
                <li><a href="https://www.coursera.org" target="_blank">Archive User Guide</li>
            </ul>
        </section>

        <section class="category">
            <h3>Batch Processing </h3>
            <ul>
                <li><a href="https://www.netflix.com" target="_blank">Vistors</a> - Popular streaming service for movies and TV shows.</li>
            </ul>
        </section>

    </main>

    <footer>
        <p>Contact us at <a href="mailto:info@example.com">info@example.com</a></p>
        <p>Follow us on <a href="https://twitter.com/yourprofile" target="_blank">Twitter</a>, <a href="https://facebook.com/yourprofile" target="_blank">Facebook</a></p>
        <p><a href="terms.html">Terms of Service</a> | <a href="privacy.html">Privacy Policy</a></p>
    </footer>
</body>
</html>
