---
import QuickLinks from "../components/sub_components/QuickLinks";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Quick Links">
    <h1 class="flex justify-center text-base-100 text-4xl">Quick Links</h1>
    <h1 class="flex justify-center text-2xl text-secondary font-bold">(THESE LINKS AREN'T THE ACTUAL LINKS)</h1>
    <QuickLinks />
</Layout>