---
import Layout from "../layouts/Layout.astro";
---

<Layout title="News and Events">
    <h1 class="flex justify-center text-base-100 text-4xl">News & Events</h1>
    <div class="bg-base-100 rounded-box flex items-center justify-center p-8 m-4">
        <h1 class="text-2xl text-primary-dark text-center">Nothing Much</h1>
    </div>
    
</Layout>